# Copy this file to .env and fill in your values
# cp .env.example .env

# WordPress admin credentials (required for --project=admin block tests)

WP_URL='pitt.plusmagi.com'
WP_URL_TEST_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=699&action=edit'
WP_URL_TEST_FRONT='https://pitt.plusmagi.com/test-wp-plugin-plusmagi-markdown'

WP_ADMIN_USER=''
WP_ADMIN_PASSWORD=''