# Copy this file to .env and fill in your values
# cp .env.example .env

# WordPress admin credentials (required for --project=admin block tests)

WP_URL=''

WP_ADMIN_USER=''

WP_ADMIN_PASSWORD=''
WP_APPLICATION_PASSWORD=''

WP_URL_TEST_DESCRIPTION_LIST_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=4494&action=edit'
WP_URL_TEST_DESCRIPTION_LIST_FRONT='https://pitt.plusmagi.com/plusmagi-blocks-description-list-block'

WP_URL_TEST_MERMAID_DIAGRAM_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=4495&action=edit'
WP_URL_TEST_MERMAID_DIAGRAM_FRONT='https://pitt.plusmagi.com/plusmagi-blocks-mermaid-diagram-block'

WP_URL_TEST_PLANTUML_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=4727&action=edit'
WP_URL_TEST_PLANTUML_FRONT='https://pitt.plusmagi.com/test-plusmagi-blocks-plantuml'

WP_URL_TEST_STICKY_NOTES_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=4528&action=edit'
WP_URL_TEST_STICKY_NOTES_FRONT='https://pitt.plusmagi.com/plusmagi-blocks-sticky-notes-block'

WP_URL_TEST_TABLE_STYLE_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=4507&action=edit'
WP_URL_TEST_TABLE_STYLE_FRONT='https://pitt.plusmagi.com/plusmagi-blocks-table-style-block'

WP_URL_TEST_SVG_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=4527&action=edit'
WP_URL_TEST_SVG_FRONT='https://pitt.plusmagi.com/plusmagi-blocks-svg-block'

WP_URL_TEST_THESAURUS_ADMIN='https://pitt.plusmagi.com/wp-admin/post.php?post=4493&action=edit'
WP_URL_TEST_THESAURUS_FRONT='https://pitt.plusmagi.com/plusmagi-blocks-test-thesaurus-block'
