# Copy this file to .env and fill in your values
# cp .env.example .env

# WordPress admin credentials (required for --project=admin block tests)

WP_URL=''

WP_ADMIN_USER=''
WP_ADMIN_PASSWORD=''

WP_URL_TEST_ADMIN_DESCRIPTION_LIST='https://pitt.plusmagi.com/wp-admin/post.php?post=4494&action=edit'
WP_URL_TEST_DESCRIPTION_LIST='https://pitt.plusmagi.com/plusmagi-blocks-description-list-block'

WP_URL_TEST_ADMIN_MERMAID_DIAGRAM='https://pitt.plusmagi.com/wp-admin/post.php?post=4495&action=edit'
WP_URL_TEST_FRONT_MERMAID_DIAGRAM='https://pitt.plusmagi.com/plusmagi-blocks-mermaid-diagram-block/'

WP_URL_TEST_ADMIN_THESAURUS='https://pitt.plusmagi.com/wp-admin/post.php?post=4493&action=edit'
WP_URL_TEST_FRONT_THESAURUS='https://pitt.plusmagi.com/plusmagi-blocks-test-thesaurus-block'
